          <ul>
            <% if current_user %>
                <% if current_user.name == 'mandeep3' %>
                    <li>
                        <%= link_to "Swap curves", swapcurves_path %>
                        <%= link_to "new", new_swapcurf_path %>
                    </li>
                    <li>
                        <%= link_to "Forward curves", forwardcurves_path %>
                        <%= link_to "new", new_forwardcurf_path %>
                    </li>         
                <% else %>
                    <li><%= link_to "Home", root_path %></li> 
                <% end %> 
            <% end %> 
          </ul>

