<h1>
  <%= @forwardcurve.currency %>
  <%= @forwardcurve.term %>
  <%= @forwardcurve.year_0 %> 
  <%= @forwardcurve.year_1 %> 
  <%= @forwardcurve.year_2 %> 
  <%= @forwardcurve.year_3 %> 
  <%= @forwardcurve.year_4 %> 
  <%= @forwardcurve.year_5 %> 
  <%= @forwardcurve.year_6 %> 
  <%= @forwardcurve.year_7 %> 
  <%= @forwardcurve.year_8 %> 
  <%= @forwardcurve.year_9 %> 
  <%= @forwardcurve.year_10 %>

</h1>




