<tr>
  <td class="micropost">
    <span class="content"><%= currency.currency_name %></span>
    <span class="content"><%= currency.year_0 %></span>
    <span class="content"><%= currency.year_1 %></span>
    <span class="content"><%= currency.year_2 %></span>
    <span class="content"><%= currency.year_3 %></span>
    <span class="content"><%= currency.year_4 %></span>
    <span class="content"><%= currency.year_5 %></span>
  </td>
</tr>
