<h1>
  <%= @fxrate.currency_pair %>
  <%= @fxrate.rate_year_0 %> 
  <%= @fxrate.rate_year_1 %> 
  <%= @fxrate.rate_year_2 %> 
  <%= @fxrate.rate_year_3 %> 
  <%= @fxrate.rate_year_4 %> 
  <%= @fxrate.rate_year_5 %> 
  <%= @fxrate.volatility %> 
  <%= @fxrate.correlation %> 
</h1>




