<h1>
  <%= @fxrate.currency_pair %>
  <%= @fxrate.year_0 %> 
  <%= @fxrate.year_1 %> 
  <%= @fxrate.year_2 %> 
  <%= @fxrate.year_3 %> 
  <%= @fxrate.year_4 %> 
  <%= @fxrate.year_5 %> 
  <%= @fxrate.volatility %> 
  <%= @fxrate.correlation %> 
</h1>




