<%= provide(:title, 'Add input data') %>
<h4>Add input data</h4>

<div class="row">
  <div class="span12">

    <%= form_for @input, {:class => "form-inline"} do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.text_field :name, :class=> "input-small", :placeholder=>"name" %>

      <%= f.text_field :body, :class=> "input-small", :placeholder=>"body" %>

      <%= hidden_field_tag :basecase_id, @basecase.id %>
 
      <%= f.submit "Submit", :class => "btn"  %>
    <% end %>
  </div>
</div>