<h3>
  <%= @group.group_name %> 
</h3>

<br/>
        <%= render 'shared/user_form' %>

<% if @users.count > 0 %>
  <h3>Current group members</h3>
<% end %>

<% @users.each do |user| %>
   <ul class="unstyled">
     <li>
       <%= link_to user.name, user %>
       <%if user.admin? && user.name!=current_user.name %>
                <%= link_to "delete", user,   :method => :delete,
                                              :confirm => "You sure?",
                                              :title => user.name %>
            
       <% end%>
     </li>
   </ul>
<% end %>


<% if @group.basecases.count < 1 %>
  <% if current_user.name == 'mandeep3' %>
    <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <%= render 'shared/basecase_form' %>
          </td>
        </tr>
    </table>
  <% end %>
<% end %>
