<% provide(:title, @user.name) %>

<% if current_user=='mandeep3'%>
  <%= @user.name %>,<%= @user.admin %>
<% end %> 

<h3><%=current_user.name %></h3>

<script type="text/javascript">
    $("#project_project_name").change(function () {
      $("form:first").submit();
    });
</script>

<%= render 'shared/project_form' %>

<% if @projects.count > 0%>
  <h3>Current projects</h3>
<% end %>

<br />
<% unless @user.projects.empty? %>
  <%= render @projects %>
<% end %>

