<% provide(:title, @user.name) %>
<%= @user.name %>, <%= @user.email %>, <%= @user.admin %>


        <%= render 'shared/project_form' %>


<hr><br/>

<h1>Your current projects</h1>
<% unless @user.projects.empty? %>
        <%= render @projects %>
<% end %>