<%= provide(:title, 'Add borrowing data') %>
<h1>Add borrowing data</h1>

<div class="row">
  <div class="span12">

    <%= form_for @actborrowing do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :size %>
      <%= f.text_field :size, :value => @borrowing.size %>

      <%= f.label :coupon %>
      <%= f.text_field :coupon, :value => @borrowing.coupon %>

      <%= f.label :issue_year %>
      <%= f.text_field :issue_year, :value => @borrowing.issue_year %>

      <%= f.label :maturity_year %>
      <%= f.text_field :maturity_year, :value => @borrowing.maturity_year %>

      <%= f.label :currency %>
      <%= f.text_field :currency, :value => @borrowing.currency %>

      <%= f.label :fixed_float %>
      <%= f.text_field :fixed_float, :value => @borrowing.fixed_float %>

      <%= f.hidden_field :top_borrowing, :value => borrowing.id %>
      <%= hidden_field_tag :scenario_id, @scenario.id %>
 
      <%= f.submit "Submit", :class => "btn"  %>
    <% end %>
  </div>
</div>