<%= provide(:title, 'Add borrowing data') %>
<h4>Add borrowing data</h4>

<div class="row">
  <div class="span6 offset3">

    <%= form_for @borrowing do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :size %>
      <%= f.text_field :size %>

      <%= f.label :coupon %>
      <%= f.text_field :coupon %>

      <%= f.label :issue_year %>
      <%= f.text_field :issue_year %>

      <%= f.label :maturity_year %>
      <%= f.text_field :maturity_year %>

      <%= f.label :currency %>
      <%= f.text_field :currency %>

      <%= f.label :fixed_float %>
      <%= f.select :fixed_float, options_for_select([['Fixed','Fixed'],['Float',Float]]) %>

      <%= hidden_field_tag :basecase_id, @basecase.id %>
 
      <%= f.submit "Submit", :class => "btn"  %>
    <% end %>
  </div>
</div>