<%= provide(:title, 'Add a user to the group') %>
<h1>Add a user to the group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= hidden_field_tag :group_id, @group.id %>
  
      <%= f.label :admin_status? %>
      <%= f.check_box :admin %> 

      <%= f.submit "Add user", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>