<h1>
  <%= @swapcurve.currency %>
  <%= @swapcurve.year_0 %> 
  <%= @swapcurve.year_1 %> 
  <%= @swapcurve.year_2 %> 
  <%= @swapcurve.year_3 %> 
  <%= @swapcurve.year_4 %> 
  <%= @swapcurve.year_5 %> 
  <%= @swapcurve.year_6 %> 
  <%= @swapcurve.year_7 %> 
  <%= @swapcurve.year_8 %> 
  <%= @swapcurve.year_9 %> 
  <%= @swapcurve.year_10 %>

</h1>




