<tr>
  <td class="micropost">
    <span class="content"><%= actcurrency.currency_name %></span>
    <span class="content"><%= actcurrency.year_0 %></span>
    <span class="content"><%= actcurrency.year_1 %></span>
    <span class="content"><%= actcurrency.year_2 %></span>
    <span class="content"><%= actcurrency.year_3 %></span>
    <span class="content"><%= actcurrency.year_4 %></span>
    <span class="content"><%= actcurrency.year_5 %></span>
  </td>
</tr>
