<%= provide(:title, 'Add currency data') %>
<h1>Add currency data</h1>

<%= provide(:title, 'Add currency data') %>
<h1>Add currency data</h1>

<div class="row">
  <div class="span12">

    <%= form_for @actcurrency, {:class => "form-inline"} do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.text_field :currency_name, :class=> "input-small", :placeholder=>"currency"%>

      <%= f.text_field :year_0, :class=> "input-small", :placeholder=>"year 0" %>

      <%= f.text_field :year_1, :class=> "input-small", :placeholder=>"year 1" %>

      <%= f.text_field :year_2, :class=> "input-small", :placeholder=>"year 2" %>

      <%= f.text_field :year_3, :class=> "input-small", :placeholder=>"year 3" %>

      <%= f.text_field :year_4, :class=> "input-small", :placeholder=>"year 4" %>

      <%= f.text_field :year_5, :class=> "input-small", :placeholder=>"year 5" %>

      <%= hidden_field_tag :actannual_id, @actannual.id %>
 
      <%= f.submit "Submit", :class => "btn"  %>
    <% end %>
  </div>
</div>