<%= provide(:title, 'Edit data') %>
<h4>Edit data</h4>

<div class="row">
  <div class="span12">

    <%= form_for @arb do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.text_area :name %>
 
      <%= f.submit "Submit", :class => "btn"  %>
    <% end %>
  </div>
</div>