<tr>
  <td class="micropost">
    <span class="content"><%= annual.year_0 %></span>
    <span class="content"><%= annual.year_1 %></span>
    <span class="content"><%= annual.year_2 %></span>
    <span class="content"><%= annual.year_3 %></span>
    <span class="content"><%= annual.year_4 %></span>
    <span class="content"><%= annual.year_5 %></span>
  </td>
</tr>
