<h1>
  <%= @annual.year_0 %>
</h1>

<% if current_user.admin? || current_user.name == 'mandeep3' %>
  <h6>Ensure your <%= link_to 'business financials', basecase_path(@annual.basecase.id) %> are up to date before creating a scenario</h6>
<% end %>
<br/><br/>

          <%= render 'shared/currency_form' %>

<% @currencies.each do |currency| %>
   <li>
     <%= link_to currency.currency_name, currency %>
            <%= link_to "edit", edit_currency_path(currency) %>
   </li>
<% end %>
