<h1>
  <%= @scenario.name %>
</h1>

<hr><br/>

<h5>EBITDA</h5>

<% if @scenario.actannuals.count < 1 %>
<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
  
            <%= form_for @actannual do |f| %>
              <%= render 'shared/error_messages', :object => f.object %>

              <%= f.label :year_one %>
              <%= f.text_field :year_0, :value => @annual.year_0 %>

              <%= f.label :year_two %><br />  
              <%= f.text_field :year_1, :value => @annual.year_1 %>

              <%= f.label :year_three %><br />
              <%= f.text_field :year_2, :value => @annual.year_2 %>

              <%= f.label :year_four %><br />
              <%= f.text_field :year_3, :value => @annual.year_3 %>

              <%= f.label :year_five %><br />
              <%= f.text_field :year_4, :value => @annual.year_4 %>

              <%= f.label :year_six %><br />
              <%= f.text_field :year_5, :value => @annual.year_5 %>

              <%= hidden_field_tag :scenario_id, @scenario.id %>
              <div class="actions">
                <%= f.submit "Submit" %>
              </div>
            <% end %>

        </td>
      </tr>
</table>
<% end %>


<% @actannuals.each do |actannual| %>
   <li>
     <%= link_to actannual.year_0, actannual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", actannual,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_actannual_path(actannual) %>
    <% end %>
    
   </li>
<% end %>

<br/><br/><hr><br/>

<h2>Edit or accept the existing debt portfolio for this scenario</h2>

<% 
     arr = Array.new 
     @borrowings.each do |borrowing| 
         arr << borrowing.id     
     end
%>


<% arr.each do |i| %>
<% j = 0 %>      

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing == i %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 
      

              <% @borrowings.each do |borrowing| %>
                  <% if j > 0 || borrowing.id != i %>
                  <% next %>
                  <% else %> 
                  <%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size, :value => borrowing.size %>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon, :value => borrowing.coupon %>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year, :value => borrowing.issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year, :value => borrowing.maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency, :value => borrowing.currency %>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.text_field :fixed_float, :value => borrowing.fixed_float %>
                     </div>
                     <%= f.hidden_field :top_borrowing, :value => borrowing.id %>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
                <% end %>
                <% end %>
           <% end %>

<% end %>

<h2>Add new debt for this scenario</h2>
<b>Debt specific to this scenario</b>
      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing.nil? %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 

<br/><br/>

<%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size%>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon%>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency%>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.select :fixed_float, options_for_select([['Fixed','Fixed'],['Float',Float]], 'Fixed') %>
                     </div>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
<% end %>

<br/><br/><hr><br/>
<% if @scenario.actannuals.count > 0 %>
<h1>Total debt</h1>

<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>
<% end %>

<h2><%= total %></h2>

<br/><br/><hr><br/>


<h1>Fixed/float mix</h1>

<% fixed_float_name = [] %>
<% fixed_float_amount = []%>

<% @float_percent.each do |fixed_float, debt| %>  
  <% total_float = 0 %>
  <h3><%= fixed_float %></h3>
  <% fixed_float_name << fixed_float %>  
    <% debt.each do |debt| %>
      <% total_float = total_float + debt.size %>  
    <% end %>
  <% if total > 0 %>  
    <%= (total_float/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% fixed_float_amount << total_float %>
<% end %> 
<br />

<h1>
    <img src="<%=Gchart.pie(:data => fixed_float_amount, :labels => fixed_float_amount, :legend => fixed_float_name)%>">
</h1>

<br/><br/><hr><br/>

<h1>Currency mix of debt</h1>

<% currency_name = [] %>
<% currency_amount = []%>

<% @currency_percent.each do |currency, debt| %>  
  <% total_currency = 0 %>
  <h3><%= currency %></h3>
  <% currency_name << currency %>      
    <% debt.each do |debt| %>
      <% total_currency = total_currency + debt.size %>  
    <% end %>    
  <% if total > 0 %>  
      <%= (total_currency/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% currency_amount << total_currency %>
<% end %> 
<br />

<h1>
  <img src="<%=Gchart.pie(:data => currency_amount, :labels => currency_amount, :legend => currency_name)%>">
</h1>

<br/><br/><hr><br/>

<h1>Term mix</h1>

<% term_name = [] %>
<% term_amount = []%>

<% @maturity_percent.each do |term, debt| %>  
  <% total_term = 0 %>
  <h3><%= term %> years </h3>
  <% term_name << term %>    
    <% debt.each do |debt| %>
      <% total_term = total_term + debt.size %>  
    <% end %>
  <% if total > 0 %>   
      <%= (total_term/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% term_amount << total_term %> 
<% end %>
<br />
<h1>
  <img src="<%=Gchart.pie(:data => term_amount, :labels => term_amount, :legend => term_name)%>">
</h1>
<br/><br/><hr><br/>

<h1>Macaulay duration</h1>
<% if total > 0 %>
 <h2>  
   <%= (@scenario.macaulay_duration(@scenario.id)/total).round(2) %>
 </h2>
<% else %>
   <%= 0 %><br />
<% end %>  
<% end %>


<%

    # need to define the variables outside loops to be able to use them later on

    m_USD_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EUR_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_GBP_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_YEN_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_BRL_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EURUSD_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EURGBP_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EURYEN_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EURBRL_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]

    m_EUR_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15] # these are the 6m forward curves for interest rates
    m_USD_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_GBP_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_YEN_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_BRL_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]
    m_EBITDA_curve = [1, 1, 1, 1, 1, 1, 0.2, 0.15]

    m_correlated = Array.new(9){Array.new(17){Array.new(5){0}}}
    m_simulated = Array.new(9){Array.new(17){Array.new(5){0}}}
    m_market_data = Array.new(9){Array.new(13){0}}

    m_correlated_ir = Array.new(6){Array.new(17){Array.new(5){0}}}
    m_simulated_ir = Array.new(6){Array.new(17){Array.new(5){0}}}
    m_market_data_ir = Array.new(6){Array.new(13){0}}

%>

<%

    # assume correlation between EBITDA in different regions is 0.3, and between EBITDA and each currency is small at 0.15   

    m_decomped =
    Matrix[[1.0, 0.3, 0.3, 0.3, 0.3, 0.15, 0.15, 0.15, 0.15,],
	    [0.3, 1.0, 0.3, 0.3, 0.3, 0.15, 0.15, 0.15, 0.15,],
           [0.3, 0.3, 1.0, 0.3, 0.3, 0.15, 0.15, 0.15, 0.15,],
           [0.3, 0.3, 0.3, 1.0, 0.3, 0.15, 0.15, 0.15, 0.15,],
           [0.3, 0.3, 0.3, 0.3, 1.0, 0.15, 0.15, 0.15, 0.15,],
           [0.15, 0.15, 0.15, 0.15, 0.15, 0.10, 0.10, 0.10, 0.10,],
           [0.15, 0.15, 0.15, 0.15, 0.15, 0.10, 0.10, 0.10, 0.10,],
           [0.15, 0.15, 0.15, 0.15, 0.15, 0.10, 0.10, 0.10, 0.10,],
           [0.15, 0.15, 0.15, 0.15, 0.15, 0.10, 0.10, 0.10, 0.10] 
          ].cholesky_factor


    h = 0
    for h in 0...5
        i = 0
        for i in 0...9
            j=0
            for j in 0...9
                k = 0
                for k in 0...17
                    m_correlated[i][k][h] = m_correlated[i][k][h] + (m_decomped[i,j] * rand()) 
                end
            end
        end
    end



    @actannuals.each do |actannual|
     actannual.actcurrencies.each do |currency| 
      if currency.currency_name =='USD'
        m_USD_EBITDA_curve = [currency.year_0, currency.year_1, currency.year_2, currency.year_3, currency.year_4, currency.year_5, 0.2, 0.15]
      end

      if currency.currency_name =='EUR'
        m_EUR_EBITDA_curve = [currency.year_0, currency.year_1, currency.year_2, currency.year_3, currency.year_4, currency.year_5, 0.2, 0.15]
      end

      if currency.currency_name =='GBP'
        m_GBP_EBITDA_curve = [currency.year_0, currency.year_1, currency.year_2, currency.year_3, currency.year_4, currency.year_5, 0.2, 0.15]
      end

      if currency.currency_name =='YEN'
        m_YEN_EBITDA_curve = [currency.year_0, currency.year_1, currency.year_2, currency.year_3, currency.year_4, currency.year_5, 0.2, 0.15]
      end

      if currency.currency_name =='BRL'
        m_BRL_EBITDA_curve = [currency.year_0, currency.year_1, currency.year_2, currency.year_3, currency.year_4, currency.year_5, 0.2, 0.15]
      end
     end # end of the currency loop

        # the following line is used in the interest rate risk calculations

        m_EBITDA_curve = [actannual.year_0, actannual.year_1, actannual.year_2, actannual.year_3, actannual.year_4, actannual.year_5, 0.2, 0.15]
   

        @fxrate.each do |fxrate| 
           if fxrate.currency_pair == 'EURUSD'
                m_EURUSD_curve = [fxrate.rate_year_0, fxrate.rate_year_1, fxrate.rate_year_2, fxrate.rate_year_3, fxrate.rate_year_4, fxrate.rate_year_5, 0.2, 0.15]
           end

           if fxrate.currency_pair == 'EURGBP' 
                m_EURGBP_curve = [fxrate.rate_year_0, fxrate.rate_year_1, fxrate.rate_year_2, fxrate.rate_year_3, fxrate.rate_year_4, fxrate.rate_year_5, 0.2, 0.15]
           end

           if fxrate.currency_pair == 'EURYEN' 
                m_EURYEN_curve = [fxrate.rate_year_0, fxrate.rate_year_1, fxrate.rate_year_2, fxrate.rate_year_3, fxrate.rate_year_4, fxrate.rate_year_5, 0.2, 0.15]
           end

           if fxrate.currency_pair == 'EURBRL' 
                m_EURBRL_curve = [fxrate.rate_year_0, fxrate.rate_year_1, fxrate.rate_year_2, fxrate.rate_year_3, fxrate.rate_year_4, fxrate.rate_year_5, 0.2, 0.15]
           end
        end
        @forwardcurve.each do |forwardcurve|
           if forwardcurve.currency == 'EUR' 
                m_EUR_curve = [forwardcurve.year_0, forwardcurve.year_1, forwardcurve.year_2, forwardcurve.year_3, forwardcurve.year_4, forwardcurve.year_5, 0.2, 0.15]
           end

           if forwardcurve.currency == 'USD' 
                m_USD_curve = [forwardcurve.year_0, forwardcurve.year_1, forwardcurve.year_2, forwardcurve.year_3, forwardcurve.year_4, forwardcurve.year_5, 0.2, 0.15]
           end

           if forwardcurve.currency == 'GBP' 
                m_GBP_curve = [forwardcurve.year_0, forwardcurve.year_1, forwardcurve.year_2, forwardcurve.year_3, forwardcurve.year_4, forwardcurve.year_5, 0.2, 0.15]
           end

           if forwardcurve.currency == 'YEN' 
                m_YEN_curve = [forwardcurve.year_0, forwardcurve.year_1, forwardcurve.year_2, forwardcurve.year_3, forwardcurve.year_4, forwardcurve.year_5, 0.2, 0.15]
           end

           if forwardcurve.currency == 'BRL' 
                m_BRL_curve = [forwardcurve.year_0, forwardcurve.year_1, forwardcurve.year_2, forwardcurve.year_3, forwardcurve.year_4, forwardcurve.year_5, 0.2, 0.15]
           end
        end

    
        # need a market_data array to hold all the other curves
        m_market_data = [m_USD_EBITDA_curve, m_EUR_EBITDA_curve, m_GBP_EBITDA_curve, m_YEN_EBITDA_curve, m_BRL_EBITDA_curve, m_EURUSD_curve, m_EURGBP_curve, m_EURYEN_curve, m_EURBRL_curve ]

    

    # need to set the mean curve value for year zero equal to the market data year zero value, for each curve

    for j in 0...9
                                
        for k in 0...17

            m_simulated[j][k][0] = m_market_data[j][0]
        end
    end 


   # this creates the simulated data using the market data and correlated data

   m = 0
   for m in 0...17
       i = 0
       for i in 1...5
           j = 0
           for j in 0...9
   
               x = m_simulated[j][m][i-1] * Math.exp(Math.log(m_market_data[j][i]/m_market_data[j][i-1]))
               x = x + (m_market_data[j][6]* (m_market_data[j][i] - x))
               m_simulated[j][m][i] = x * Math.exp((m_market_data[j][7]* m_correlated[j][m][i]) - (m_market_data[j][7]*m_market_data[j][7]/2))
                        
               # prevent negative numbers
               if m_simulated[j][m][i] < 0
                   m_simulated[j][m][i] = m_simulated[j][m][i] * -1
               end 
           end
       end
    end


   end # this is the end of the annuals each do loop, variables defined in the loop can only be used in the loop %> 


<br/><br/><hr><br/>
<% if @scenario.actannuals.count > 0 %>
<h1>Annul FX interest expense</h1>
<% m_interest_expense_table = Array.new(5){Array.new(13){0}}%>
<% year_count = 0 # need to set year count back to zero after interest expense calculation above %>
<% year_amount = [] %>
<% year = ['year 1', 'year 2', 'year 3', 'year 4', 'year 5'] %>
<% year.each do |year|%>
    
    <% m_interest_expense = Array.new(17){0}%>
    <% for i in 0...17 %>
        <% total = 0 %> 
            <% @total_debt.each do |total_debt| %>
                <% if (total_debt.maturity_year - Time.now.year - year_count) > 0 %>            
                    <% if total_debt.currency == 'EUR' %>
                        <% if total_debt.fixed_float = 'Fixed' %>
                            <% total = total + (total_debt.size * total_debt.coupon)  %> 
                        <% end %>
                        <% if total_debt.fixed_float = 'Float' %>
                            <% total = total + (total_debt.size * (m_EUR_curve[year_count+1] + total_debt.coupon))  %> 
                        <% end %>                                    
                    <% end %> 
                    <% if total_debt.currency == 'USD' %>
                        <% if total_debt.fixed_float = 'Fixed' %>
                            <% total = total + (total_debt.size * total_debt.coupon)/m_simulated[5][i][year_count + 1] %> 
                        <% end %>
                        <% if total_debt.fixed_float = 'Float' %>
                            <% total = total + (total_debt.size * (m_USD_curve[year_count+1] + total_debt.coupon))/m_simulated[5][i][year_count + 1]  %> 
                        <% end %>
                    <% end %> 
                    <% if total_debt.currency == 'GBP' %>
                        <% if total_debt.fixed_float = 'Fixed' %>
                            <% total = total + (total_debt.size * total_debt.coupon)/m_simulated[6][i][year_count + 1] %> 
                        <% end %>
                        <% if total_debt.fixed_float = 'Float' %>
                            <% total = total + (total_debt.size * (m_GBP_curve[year_count+1] + total_debt.coupon))/m_simulated[6][i][year_count + 1]  %> 
                        <% end %>
                    <% end %> 
                    <% if total_debt.currency == 'YEN' %>
                        <% if total_debt.fixed_float = 'Fixed' %>
                            <% total = total + (total_debt.size * total_debt.coupon)/m_simulated[7][i][year_count + 1] %> 
                        <% end %>
                        <% if total_debt.fixed_float = 'Float' %>
                            <% total = total + (total_debt.size * (m_YEN_curve[year_count+1] + total_debt.coupon))/m_simulated[7][i][year_count + 1]  %> 
                        <% end %>
                    <% end %> 
                    <% if total_debt.currency == 'BRL' %>
                        <% if total_debt.fixed_float = 'Fixed' %>
                            <% total = total + (total_debt.size * total_debt.coupon)/m_simulated[8][i][year_count + 1] %> 
                        <% end %>
                        <% if total_debt.fixed_float = 'Float' %>
                            <% total = total + (total_debt.size * (m_BRL_curve[year_count+1] + total_debt.coupon))/m_simulated[8][i][year_count + 1]  %> 
                        <% end %> 
                    <% end %> 
                <% else %>
                    <% total = total + 0 %>
                <% end %> 
            <% end %>
        <%m_interest_expense[i] = total  %>
    <% end %>
    <% if m_interest_expense.sum_it > 0 %>
    <% m_interest_expense_table[year_count][0] = m_interest_expense.mean_it.round(2) %>
    <% m_interest_expense_table[year_count][1] = m_interest_expense.standard_deviation_it.round(2) %>
    <% m_interest_expense_table[year_count][2] = m_interest_expense.calculate_percentile(0.99).round(2) %>
    <% m_interest_expense_table[year_count][3] = m_interest_expense.calculate_percentile(0.95).round(2) %>
    <% m_interest_expense_table[year_count][4] = m_interest_expense.calculate_percentile(0.85).round(2) %>
    <% m_interest_expense_table[year_count][5] = m_interest_expense.calculate_percentile(0.75).round(2) %>
    <% m_interest_expense_table[year_count][6] = m_interest_expense.calculate_percentile(0.67).round(2) %>
    <% m_interest_expense_table[year_count][7] = m_interest_expense.calculate_percentile(0.50).round(2) %>
    <% m_interest_expense_table[year_count][8] = m_interest_expense.calculate_percentile(0.33).round(2) %>
    <% m_interest_expense_table[year_count][9] = m_interest_expense.calculate_percentile(0.25).round(2) %>
    <% m_interest_expense_table[year_count][10] = m_interest_expense.calculate_percentile(0.15).round(2) %>
    <% m_interest_expense_table[year_count][11] = m_interest_expense.calculate_percentile(0.05).round(2) %>
    <% m_interest_expense_table[year_count][12] = m_interest_expense.calculate_percentile(0.01).round(2) %>
    <% year_amount << m_interest_expense.mean_it.round(2) %>
    <% else %>
      <% year_amount << 0 %> 
    <% end # end for sum_it if > 0 %> 
    <% year_count = year_count + 1 %>
<% end %>
<br/><br/>

<table class="table">  
        <thead>  
          <tr>  
            <th>Interest expense distribution</th>  
            <th>Year 1</th>  
            <th>Year 2</th>  
            <th>Year 3</th>
            <th>Year 4</th>
            <th>Year 5</th>            
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Mean</td>  
            <td><%= m_interest_expense_table[0][0] %></td>  
            <td><%= m_interest_expense_table[1][0] %></td>  
            <td><%= m_interest_expense_table[2][0] %></td>  
            <td><%= m_interest_expense_table[3][0] %></td>  
            <td><%= m_interest_expense_table[4][0] %></td>  
          </tr>  
          <tr>  
            <td>Standard deviation</td>  
            <td><%= m_interest_expense_table[0][1] %></td>  
            <td><%= m_interest_expense_table[1][1] %></td>  
            <td><%= m_interest_expense_table[2][1] %></td>  
            <td><%= m_interest_expense_table[3][1] %></td>  
            <td><%= m_interest_expense_table[4][1] %></td>
          </tr>  
          <tr>  
            <td>99%</td>  
            <td><%= m_interest_expense_table[0][2] %></td>  
            <td><%= m_interest_expense_table[1][2] %></td>  
            <td><%= m_interest_expense_table[2][2] %></td>  
            <td><%= m_interest_expense_table[3][2] %></td>  
            <td><%= m_interest_expense_table[4][2] %></td>
          </tr>  
          <tr>  
            <td>95%</td>  
            <td><%= m_interest_expense_table[0][3] %></td>  
            <td><%= m_interest_expense_table[1][3] %></td>  
            <td><%= m_interest_expense_table[2][3] %></td>  
            <td><%= m_interest_expense_table[3][3] %></td>  
            <td><%= m_interest_expense_table[4][3] %></td>
          </tr> 
          <tr>  
            <td>85%</td>  
            <td><%= m_interest_expense_table[0][4] %></td>  
            <td><%= m_interest_expense_table[1][4] %></td>  
            <td><%= m_interest_expense_table[2][4] %></td>  
            <td><%= m_interest_expense_table[3][4] %></td>  
            <td><%= m_interest_expense_table[4][4] %></td>
          </tr> 
          <tr>  
            <td>75%</td>  
            <td><%= m_interest_expense_table[0][5] %></td>  
            <td><%= m_interest_expense_table[1][5] %></td>  
            <td><%= m_interest_expense_table[2][5] %></td>  
            <td><%= m_interest_expense_table[3][5] %></td>  
            <td><%= m_interest_expense_table[4][5] %></td>
          </tr> 
          <tr>  
            <td>67%</td>  
            <td><%= m_interest_expense_table[0][6] %></td>  
            <td><%= m_interest_expense_table[1][6] %></td>  
            <td><%= m_interest_expense_table[2][6] %></td>  
            <td><%= m_interest_expense_table[3][6] %></td>  
            <td><%= m_interest_expense_table[4][6] %></td>
          </tr> 
          <tr>  
            <td>50%</td>  
            <td><%= m_interest_expense_table[0][7] %></td>  
            <td><%= m_interest_expense_table[1][7] %></td>  
            <td><%= m_interest_expense_table[2][7] %></td>  
            <td><%= m_interest_expense_table[3][7] %></td>  
            <td><%= m_interest_expense_table[4][7] %></td>
          </tr> 
          <tr>  
            <td>33%</td>  
            <td><%= m_interest_expense_table[0][8] %></td>  
            <td><%= m_interest_expense_table[1][8] %></td>  
            <td><%= m_interest_expense_table[2][8] %></td>  
            <td><%= m_interest_expense_table[3][8] %></td>  
            <td><%= m_interest_expense_table[4][8] %></td>
          </tr> 
          <tr>  
            <td>25%</td>  
            <td><%= m_interest_expense_table[0][9] %></td>  
            <td><%= m_interest_expense_table[1][9] %></td>  
            <td><%= m_interest_expense_table[2][9] %></td>  
            <td><%= m_interest_expense_table[3][9] %></td>  
            <td><%= m_interest_expense_table[4][9] %></td>
          </tr> 
          <tr>  
            <td>15%</td>  
            <td><%= m_interest_expense_table[0][10] %></td>  
            <td><%= m_interest_expense_table[1][10] %></td>  
            <td><%= m_interest_expense_table[2][10] %></td>  
            <td><%= m_interest_expense_table[3][10] %></td>  
            <td><%= m_interest_expense_table[4][10] %></td>
          </tr> 
          <tr>  
            <td>5%</td>  
            <td><%= m_interest_expense_table[0][11] %></td>  
            <td><%= m_interest_expense_table[1][11] %></td>  
            <td><%= m_interest_expense_table[2][11] %></td>  
            <td><%= m_interest_expense_table[3][11] %></td>  
            <td><%= m_interest_expense_table[4][11] %></td>
          </tr> 
          <tr>  
            <td>1%</td>  
            <td><%= m_interest_expense_table[0][12] %></td>  
            <td><%= m_interest_expense_table[1][12] %></td>  
            <td><%= m_interest_expense_table[2][12] %></td>  
            <td><%= m_interest_expense_table[3][12] %></td>  
            <td><%= m_interest_expense_table[4][12] %></td>
          </tr> 
        </tbody>  
</table>  

<br />
<h1>
  <img src="<%=Gchart.bar(:data => year_amount, :labels => ['year 1', 'year 2', 'year 3', 'year 4', 'year 5'], :bar_width_and_spacing => [19,40], :legend => year_amount)%>">
</h1>
<br/><br/>
<% end # check actannuals count %>