<tr>
  <td class="micropost">
    <span class="content"><%= actannual.year_0 %></span>
    <span class="content"><%= actannual.year_1 %></span>
    <span class="content"><%= actannual.year_2 %></span>
    <span class="content"><%= actannual.year_3 %></span>
    <span class="content"><%= actannual.year_4 %></span>
    <span class="content"><%= actannual.year_5 %></span>
  </td>
</tr>
