<h1>
  <%= @basecase.name %>
</h1>

<hr>

<h2>Financials</h2>

<%= render 'shared/annual_form' %>

<h4>Current annual data</h4>

     <% @annuals.each do |annual| %>
         <%= form_for annual do |f| %>
           <%= render 'shared/error_messages', :object => f.object %>

           <%= f.text_field :name, :class=> "input-small", :placeholder=>"Line item", :value=> annual.name %>

           <%= f.text_field :year_0, :class=> "input-small", :placeholder=>"year 0", :value=> annual.year_0 %>

           <%= f.text_field :year_1, :class=> "input-small", :placeholder=>"year 1", :value=> annual.year_1 %>

           <%= f.text_field :year_2, :class=> "input-small", :placeholder=>"year 2", :value=> annual.year_2 %>

           <%= f.text_field :year_3, :class=> "input-small", :placeholder=>"year 3", :value=> annual.year_3 %>

           <%= f.text_field :year_4, :class=> "input-small", :placeholder=>"year 4", :value=> annual.year_4 %>

           <%= f.text_field :year_5, :class=> "input-small", :placeholder=>"year 5", :value=> annual.year_5 %>
 
           <%= f.submit "Update" %>

         <% end %>
       <% end %>


<h2>Debt portfolio</h2>

<%= render 'shared/borrowing_form' %>

<h4>Current debt portfolio</h4>

     <% @borrowings.each do |borrowing| %>
         <%= form_for borrowing do |f| %>
           <%= render 'shared/error_messages', :object => f.object %>

           <%= f.text_field :size, :class=> "input-small", :placeholder=>"size", :value => borrowing.size %>

           <%= f.text_field :coupon, :class=> "input-small", :placeholder=>"coupon", :value => borrowing.coupon %>

           <%= f.text_field :issue_year, :class=> "input-small", :placeholder=>"issue_year", :value => borrowing.issue_year %>

           <%= f.text_field :maturity_year, :class=> "input-small", :placeholder=>"maturity_year", :value => borrowing.maturity_year %>

           <%= f.text_field :currency, :class=> "input-small", :placeholder=>"currency", :value => borrowing.currency %>

           <%= f.text_field :fixed_float, :class=> "input-small", :placeholder=>"fixed/float", :value => borrowing.fixed_float %>

           <%= f.submit "Update" %>

         <% end %>
     <% end %>

<br/><br/><hr><br/>