<h1>
  <%= @basecase.name %>
</h1>

<hr>

<h2>Financials</h2>

<%= render 'shared/annual_form' %>

<% @annuals.each do |annual| %>
   <li>
     <%= link_to annual.year_1, annual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>


            <%= link_to "edit", edit_annual_path(annual) %>
    <% end%>
    
   </li>
<% end %>

<h2>Debt portfolio</h2>


          <%= render 'shared/borrowing_form' %>


<% @borrowings.each do |borrowing| %>
   <li>
     <%= link_to borrowing.size, borrowing %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", borrowing,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_borrowing_path(borrowing) %>
    <% end%>
   </li>
<% end %>

<br/><br/><hr><br/>