<% # update the lookup table on page reload 

     
    # if there is already a lookup table then is is updated
    # need to actually do this twice, the first time sweeps for newly uploaded items, the second calculates the parsed data

    if @basecase.lookups.count > 0  

        params[:lookup] = {
     
            name: @basecase.lookup_table(@basecase.id),
            basecase_id: @basecase.id
           }

        @lookup = Lookup.find(:last, :conditions => [" basecase_id = ?", @basecase.id]) 
            if @lookup.update_attributes(params[:lookup])
                # commented this out because it keeps happening every page reload and is annoying 
                # flash[:success] = "Data updated"
            else
                flash[:success] = "The data didn't update this time"
            end   

        params[:lookup] = {
     
            name: @basecase.parse_code(@rules.last.name, @basecase.id),
            basecase_id: @basecase.id
           }

        @lookup = Lookup.find(:last, :conditions => [" basecase_id = ?", @basecase.id]) 
            if @lookup.update_attributes(params[:lookup])
                # flash[:success] = "Data updated"
            else
                flash[:success] = "The data didn't update this time"
            end 


    # if there isn't a lookup table it is created
    
    else 

        params[:lookup] = {
     
            name: @basecase.lookup_table(@basecase.id),
            basecase_id: @basecase.id
           }

        @lookup = @basecase.lookups.build(params[:lookup]) 
            if @lookup.save  
                flash[:success] = "You have created new data" 
            else 
                flash[:success] = "It didn't work mate" 
            end 

    end

%>

<p>
  <button class="btn btn-mini btn-primary btn-upload" type="button">Upload</button>
  <button class="btn btn-mini btn-primary btn-inputs" type="button">Inputs</button>
  <button class="btn btn-mini btn-primary btn-financials" type="button">Annual data</button>
  <button class="btn btn-mini btn-primary btn-debt" type="button">Debt</button>
  <button class="btn btn-mini btn-primary btn-rules" type="button">Rules</button>
  <button class="btn btn-mini btn-primary btn-calculated" type="button">Calculated data</button>
</p>


<% @lookup = Lookup.find(:last, :conditions => [" basecase_id = ?", @basecase.id])  %>
<% @lookup.name %>
<br/>


<div class="upload">
    <h2>Upload input data</h2>

    <%= form_tag({:controller => 'static_pages', :action => :uploadfile}, :multipart => true) do %>
      <%= file_field_tag 'upload[datafile]' %>
      <%= submit_tag("Upload") %> 
    <% end %>
</div>
<div class="inputs">
  <% @inputs =   Input.find(:all, :conditions => [" basecase_id = ?", @basecase.id]) %>
  <%

        @inputs.each do |input|
           require 'csv'
           input.body = CSV.parse(input.body, :headers => true, :header_converters => :symbol)

           %>
           <h2><%=input.name %></h2>
           <table class="table">
           <tr> 
             <% i=0 %>
             <% number_of_cols = input.body[0].headers.count %>
             <% while i < number_of_cols - 1 do %>           
               <th><%=input.body[0].headers[i] %></th>
               <% i = i + 1 %>   
             <% end %> 
           </tr>
             <% input.body.each do |row| %>
                 <% i=0 %>
                 <tr> 
                     <% while i < number_of_cols-1 do %>     
                         <td><%=row[i] %></td>
                         <% i = i + 1 %> 
                     <% end %>
                 </tr> 
             <% end %>
           </table>


             <% input.body.each do |row| %>
                 <b><%=row[0] %></b><br/>
                 <% # need to show exposure data here %>
                 <table class="table">
                 <tr>
                   <th><%="Breakdown" %></th>
                   <% i=0 %>
                   <% while i < number_of_cols-2 do %>           
                     <th><%=input.body[0].headers[i+1] %></th>
                     <% i = i + 1 %>   
                   <% end %> 
                 </tr>
 
                
                 <% @arb = Arb.find(:all)%>
                 <% @arb.each do |arb|  %>
           
                   <% i = 0 %>
                   <% if arb[:name][:"#{row[0]}"] %>
                     <tr>
                     <% while i < number_of_cols  do %>
                         <% if i != 1%>     
                           <td><%=arb[:name][:"#{row[0]}"][i] %></td>
                         <% end %>
                         <% i = i + 1 %> 
                     <% end %>
                     </tr>
                   <% else %>
                     <% # do nothing %>  
                   <% end %>                   
                 <% end %>
                 </table> 
                 
                 <%="add exposure data" %>   
                 <br/>
                 <div class="row">
                   <div class="span6 offset3">  
                     <%= form_tag "/exposure" do %>
                       <% # need to create a field for each column in the respective table and one for currency %>
                       <%= label_tag "currency" %>
                       <%= text_field_tag "currency" %>                       
                       <%= hidden_field_tag "item", "#{row[0]}" %>
                       <%= hidden_field_tag "id", @basecase.id %>
                       <% i =0 %>
                       <% while i < number_of_cols - 2 do %>
                           <%= label_tag "#{input.body[0].headers[i + 1]}" %>  
                           <%= text_field_tag "#{input.body[0].headers[i + 1]}" %>
                           <% i = i + 1 %> 
                       <% end %>
                     <%= submit_tag "Save" %>
                     <% end %>
                   </div>
                 </div>   
                 <br/>                                 
             <% end %> 
           <%
        end 
  %> 
</div>
<div class="rules">
    <h2>Rules</h2>
    <% @basecase.parse_code(@rules.last.name, @basecase.id)
    %><br/>


    <%  if @basecase.rules.count < 1 %>
      <%= render 'shared/rule_form' %>
    <%  else %>
      <div class="row">
        <div class="span12">

         <% @rules.each do |rule| %>
          <%= form_for rule do |f| %>
            <%= render 'shared/error_messages', :object => f.object %>

            <%= f.text_area :name %>

            <%= f.submit "Update", :class => "btn"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
</div>

<div class="financials">
    <h2>Annual data</h2>
    <%= render 'shared/annual_form' %>


    <h4>Current annual data</h4>
    <br/>
         <% @annuals.each do |annual| %>
             <%= form_for annual do |f| %>
               <%= render 'shared/error_messages', :object => f.object %>

               <%= f.text_field :name, :class=> "input-small", :placeholder=>"Line item", :value=> annual.name %>

               <%= f.text_field :year_0, :class=> "input-small", :placeholder=>"year 0", :value=> annual.year_0 %>

               <%= f.text_field :year_1, :class=> "input-small", :placeholder=>"year 1", :value=> annual.year_1 %>

               <%= f.text_field :year_2, :class=> "input-small", :placeholder=>"year 2", :value=> annual.year_2 %>

               <%= f.text_field :year_3, :class=> "input-small", :placeholder=>"year 3", :value=> annual.year_3 %>

               <%= f.text_field :year_4, :class=> "input-small", :placeholder=>"year 4", :value=> annual.year_4 %>

               <%= f.text_field :year_5, :class=> "input-small", :placeholder=>"year 5", :value=> annual.year_5 %>

               <%= f.submit "Update" %> 
             
               <%= link_to "delete", annual,   :method => :delete,
                                           :confirm => "You sure?" %>

               <% @annual_item = Annual.where("id = ?", annual.id) %>
               <% @annual_item.each do |annual_item|%>
                 <%=link_to "edit fx", annual_item %>       
               <% end %> 

             <% end %>
           <% end %>
</div>

<div class="debt">
    <h2>Debt portfolio</h2>

    <%= render 'shared/borrowing_form' %>

    <h4>Current debt portfolio</h4>

         <% @borrowings.each do |borrowing| %>
             <%= form_for borrowing do |f| %>
               <%= render 'shared/error_messages', :object => f.object %>

               <%= f.text_field :size, :class=> "input-small", :placeholder=>"size", :value => borrowing.size %>

               <%= f.text_field :coupon, :class=> "input-small", :placeholder=>"coupon", :value => borrowing.coupon %>

               <%= f.text_field :issue_year, :class=> "input-small", :placeholder=>"issue_year", :value => borrowing.issue_year %>

               <%= f.text_field :maturity_year, :class=> "input-small", :placeholder=>"maturity_year", :value => borrowing.maturity_year %>

               <%= f.text_field :currency, :class=> "input-small", :placeholder=>"currency", :value => borrowing.currency %>

               <%= f.text_field :fixed_float, :class=> "input-small", :placeholder=>"fixed/float", :value => borrowing.fixed_float %>

               <%= f.submit "Update" %>

             <% end %>
         <% end %>
</div>

<div class="calculated">
    <%=@lookup[:name][:rule_head_array] %>
    <%=@lookup[:name][:rule_body_array] %>
</div>

<script type="text/javascript">
 $(document).ready(function(){
   $(".upload").hide();
   $(".inputs").hide();
   $(".financials").hide();
   $(".rules").hide();
   $(".debt").hide();
   $(".calculated").hide();
 });
</script>


<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-upload").toggle(function(){
     $(".upload").show('fast');
   },function(){
     $(".upload").hide('slow');
   });
 });
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-inputs").toggle(function(){
     $(".inputs").show('fast');
   },function(){
     $(".inputs").hide('slow');
   });
 });
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-rules").toggle(function(){
     $(".rules").show('fast');
   },function(){
     $(".rules").hide('slow');
   });
 });
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-financials").toggle(function(){
     $(".financials").show('fast');
   },function(){
     $(".financials").hide('slow');
   });
 });
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-debt").toggle(function(){
     $(".debt").show('fast');
   },function(){
     $(".debt").hide('slow');
   });
 });
</script>

<script type="text/javascript">
 $(document).ready(function(){
   $(".btn-calculated").toggle(function(){
     $(".calculated").show('fast');
   },function(){
     $(".calculated").hide('slow');
   });
 });
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $('textarea').autosize();  
  });
</script>

<script type="text/javascript">
  $.backstretch("http://24.media.tumblr.com/tumblr_ltwpq6DxIv1qiz784o1_1280.jpg");
</script>
